@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.myAccount {
  color: $rojoMarca;
  background-color: $tonoOscuro;
  min-height: 40rem;
  justify-content: center;
  transition: background-color 1s ease-in-out;
  &.auth {
    background-color: #dedede;
    .breadcrumb {
      justify-content: space-between;
    }
  }

  .breadcrumb {
    justify-content: center;
    h4 {
      display: flex;
      align-items: center;
    }
    .typicBtn {
      margin: 0;
      img {
        margin-right: 0;
      }
    }
  }
  .logInFormContainer {
    width: 30rem;
    margin: 3rem auto;
  }

  .userDataContainer {
    background-color: $tonoMedio;
    border: 0.5rem solid $rojoMarca;
    border-radius: 1rem;
    color: black;
    padding: 1rem;
    margin: 1rem auto 2rem auto;
    .userData {
      background-color: #fff;
      border-radius: 0.25rem;
      padding: 1rem;
      min-height: 30rem;
      overflow: hidden;
    }
  }
  @include responsive(xs) {
    .logInFormContainer {
      width: 100%;
      padding: 0 1rem;
    }
    .userData {
      padding: 0;
    }
  }
}
