@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
$loader: url("../../assets/img/puff.svg");
$loaderBall: url("../../assets/img/ball-triangle.svg");
$loaderDots: url("../../assets/img/three-dots.svg");

.loader {
  height: 26rem;
  background-image: $loader;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 2rem;
  text-align: center;
  margin: auto;
  flex: 0 0 80%;
  max-width: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  &.ball {
    background-image: $loaderBall;
  }
  &.dots {
    background-image: $loaderDots;
    width: 50%;
  }

  h3 {
    width: 100%;
  }

  p {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    &:first-of-type {
      margin-top: 2rem;
    }
  }

  @include responsive(xs) {
    height: 15rem;
    background-size: 80%;
  }
}
