$loader: url("../../assets/img/puff.svg");

.loader {
  height: 33rem;
  background-image: $loader;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 2rem;
  text-align: center;
  margin: auto;
  flex: 0 0 80%;
  max-width: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;

  h3 {
    width: 100%;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
