// *************************************************************
// ************************  Variables  ************************

// Colores
$rojoMarca: #b30404;
$tonoClaro: #b9b8b8;
$tonoMedio: #545454;
$tonoOscuro: #212121;
$tonoMuyOscuro: #060606;

// Fuentes
$fuente-principal: "Montserrat", Helvetica, sans-serif;
$fuente-secundaria: "Roboto Condensed", Helvetica, sans-serif;

// Mapas
$mediaBreakpoints: (
  xs: (
    max-width: 575px,
  ),
  sm: (
    max-width: 767px,
  ),
  md: (
    max-width: 991px,
  ),
  lg: (
    max-width: 1220px,
  ),
  xl: (
    max-width: 1399px,
  ),
);
