@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.checkoutResume {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .subTot,
  .totalPrice {
    padding-right: 1rem;
    font-weight: 700;

    p {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .totalPrice {
    color: #fff;
    background-color: $tonoMedio;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    p {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 1.4rem;
      span {
        font-size: 1.7rem;
      }
    }
  }

  .help {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    color: $tonoMedio;
    span {
      font-weight: bold;
      color: $rojoMarca;
      font-size: 1.4rem;
      white-space: nowrap;
    }
  }
}
