.summaryTable tr {
  td {
    background-color: white;
    padding: 0.25rem;
    vertical-align: middle;

    &:nth-child(1) {
      width: 22%;
      img {
        background: #fff url("../../assets/img/preloader.gif") no-repeat center
          center;
      }
    }

    &:nth-child(2) {
      width: 50%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:nth-child(4) {
      width: 18%;
    }
  }
}
