@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.userStuffContainer {
  background-color: $tonoMedio;
  border: 0.5rem solid $rojoMarca;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  margin: 1rem auto 2rem auto;
  .userStuff {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 30rem;
    overflow: hidden;

    .userTools {
      div {
        font-family: $fuente-principal;
        font-weight: bold;
        background-color: #e9ecef;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in;
        img {
          width: 2rem;
          height: 5rem;
          margin-left: 1rem;
        }
        &:hover {
          background-color: rgba($rojoMarca, 0.7);
          padding-left: 1rem;
        }
      }
    }

    .userToolsData {
      padding-left: 1rem;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 20rem;
        }
      }
      .loader {
        background-color: transparent;
        height: 20rem;
      }
      .emptyResults {
        background-color: #fff;
        height: 20rem;
      }
    }
  }
  @include responsive(xs) {
    .userStuff {
      padding: 0;
    }
  }
}
