@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.userStuffContainer {
  background-color: $tonoMedio;
  border: 0.5rem solid $rojoMarca;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  margin: 1rem auto 2rem auto;
  .userStuff {
    position: relative;
    background-color: #fff;
    background-image: url("../../assets/img/store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 30rem;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
    }

    .userTools {
      div {
        font-family: $fuente-principal;
        font-weight: bold;
        background-color: #e9ecef;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in;
        img {
          width: 2rem;
          height: 5rem;
          margin-left: 1rem;
        }
        &:hover {
          background-color: rgba($rojoMarca, 0.7);
          padding-left: 1rem;
        }
      }
    }

    .userToolsData {
      padding-left: 1rem;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        img {
          opacity: 0.6;
          height: 8rem;
        }
      }
      .loader {
        background-color: transparent;
        height: 20rem;
      }
      .emptyResults {
        background-color: transparent;
        height: 20rem;
        text-shadow: 2px 2px 3px #fff;
      }
    }
  }
  @include responsive(sm) {
    .userStuff {
      .userToolsData {
        padding-left: 0;
      }
    }
  }
  @include responsive(xs) {
    .userStuff {
      padding: 0;
      background-position: 80% center;
    }
  }
}
