@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.homeHighlights {
  background-color: $tonoMedio;
  border: 0.5rem solid $rojoMarca;
  border-radius: 1rem;
  padding-bottom: 0.25rem;
  margin: 1rem auto 2rem auto;
  transition: all 0.75s;

  &.loading {
    opacity: 0.5;
  }

  & > div:first-child {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    p {
      font-size: 1.25rem;
    }
  }
  .homeProductsContainer {
    background-color: #e9ecef;
    margin: 1rem 0 0.75rem 0;
    padding-top: 0.5rem;
    border: 3px solid #e9ecef;
    border-radius: 0.25rem;
    min-height: 27rem;
  }

  @include responsive(xs) {
    padding-left: 0;
    padding-right: 0;

    .homeProductsContainer {
      margin-left: 1rem;
      margin-right: 1rem;
      min-height: 15rem;
    }
  }
}
