@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.loaderModal {
  .modal-content {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: $fuente-principal;
    font-size: 1.6rem;
    color: #fff;
    .modal-body {
      padding: 0.5rem;
      .loader {
        height: auto;
        min-height: 10rem;
        background-size: 34%;
        background-color: $tonoMedio;
      }
    }
  }
}
