@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.checkoutForm {
  div.col-sm-12 {
    margin-bottom: 5px;
  }

  label {
    font-weight: bold;
  }

  fieldset:nth-of-type(1) .col-form-label {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
  }

  fieldset:nth-of-type(2) {
    background: linear-gradient(134deg, #212121 15%, #545454 50%, #b9b8b8 100%);
    padding: 1rem 1rem;
    border-radius: 1rem;
    width: 80%;
    margin: auto;

    legend {
      margin-left: 1rem;
      background-color: #b3040494;
      width: 11rem;
      color: white;
      border-radius: 0.25rem;
      padding: 0.5rem;
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      justify-content: center;
    }

    label {
      font-weight: 500;
      color: white;
    }
  }
  .optional {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    height: 10rem;
    opacity: 1;
    &.disabled {
      opacity: 0;
      height: 0;
    }
  }

  .partialPayments label {
    span {
      font-weight: bold;
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    i {
      white-space: nowrap;
    }
  }

  #btnAceptaCompra {
    background-color: #b30404;

    &:hover {
      background-color: #d11212;
    }
  }

  @include responsive(1300px) {
    fieldset:nth-of-type(2) {
      width: 70%;
    }
  }

  @include responsive(1000px) {
    fieldset:nth-of-type(2) {
      width: 85%;
    }
  }

  @include responsive(850px) {
    fieldset:nth-of-type(2) {
      width: 100%;
    }
  }

  @include responsive(sm) {
    fieldset:nth-of-type(2) {
      width: 75%;
    }
  }

  @include responsive(xs) {
    fieldset:nth-of-type(2) {
      label {
        font-size: 0.9rem;
      }

      input {
        font-size: 0.75rem;
      }
    }
    .optional {
      height: 14rem;
    }
  }

  @include responsive(500px) {
    fieldset:nth-of-type(2) {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
