.card {
  overflow: hidden;
  border-radius: 0.5rem;
  .discount {
    position: absolute;
    width: 3.5rem;
    height: 3rem;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #b30404;
    border-radius: 40% 0% 40% 0%;
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-top {
    width: 80%;
    margin: auto;
  }

  .card-body p:nth-of-type(1) {
    padding-bottom: 3.25rem;
  }

  .card-body p:nth-of-type(2) {
    position: absolute;
    bottom: 2rem;

    b {
      font-size: 1.4rem;
      color: #b30404;
    }

    del {
      color: #545454;
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  .noStock {
    position: absolute;
    text-align: center;
    background-color: #545454bf;
    color: white;
    font-size: 2rem;
    font-style: italic;
    padding: 1.5rem 0;
    transform: rotate(-45deg);
    top: 38%;
    left: -50%;
    width: 200%;
  }

  &.soldOut {
    .card-img-top {
      opacity: 0.6;
    }
    .discount {
      opacity: 0.4;
    }
    .card-body {
      opacity: 0.6;
      filter: blur(1.5px);
    }
  }
}
