@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  min-height: 6vw;
  align-items: center;
  a {
    width: 10%;
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 160px;
  }
  @include responsive(md) {
    a {
      flex: 25%;
    }
    img {
      max-width: 110px;
    }
  }
  @include responsive(xs) {
    img {
      max-width: 65%;
    }
  }
}
