@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.cartDetail {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  padding: 1rem;
  min-height: 30rem;
  overflow: hidden;

  .row:nth-child(1) p {
    font-family: $fuente-principal;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .row:last-child {
    justify-content: space-evenly;
    flex-wrap: wrap;
    .typicBtn {
      margin: 0;
      &:first-child {
        img {
          width: 1.5rem;
        }
      }
    }
  }

  @include responsive(sm) {
    padding: 0;
    .row:nth-child(1) p {
      padding-left: 1rem;
      padding-top: 1rem;
    }
  }
}
