@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.termsModal {
  .modal-content {
    background: linear-gradient(
      90deg,
      rgba($tonoOscuro, 0.75),
      $tonoOscuro 30%,
      $tonoOscuro 70%,
      rgba($tonoOscuro, 0.75)
    );
    font-family: $fuente-principal;
    color: #dee2e6;
    .modal-title {
      color: $rojoMarca;
      font-weight: bold;
    }
    .modal-body {
      .termsModalImg {
        height: 18rem;
        background: url("../../assets/img/plp-banner_handlebars.jpg");
        background-size: cover;
        background-position-x: 25%;
      }
      p {
        font-size: 1.15rem;
        margin-bottom: 1rem;
        text-align: justify;
      }
      ol {
        width: 80%;
        margin: auto;
        p {
          padding-top: 1rem;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
    .modal-footer {
      button {
        background-color: $tonoMedio;
      }
    }
  }
}
