@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.checkout {
  .resume {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    h3 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    h4 {
      margin-top: 1rem;
    }

    .table tr {
      td {
        background-color: white;
        padding: 0.25rem;
        vertical-align: middle;

        &:nth-child(1) {
          width: 22%;
        }

        &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(3) {
          width: 10%;
        }

        &:nth-child(4) {
          width: 18%;
        }
      }
    }

    .shipment {
      .form-check {
        background-color: #fff;
        padding: 1rem 1rem 1rem 3rem;
        border-top: 1px solid #dee2e6;
        display: flex;
        align-items: center;
      }
      label {
        flex-grow: 1;
        margin-left: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          margin-right: 1rem;
        }
        span {
          font-weight: bold;
          font-family: inherit;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
        }
      }
    }

    .subTot,
    .totalPrice {
      padding-right: 1rem;
      font-weight: 700;

      p {
        text-align: right;
        font-size: 1.3rem;
        margin-top: 1rem;
      }
    }

    .totalPrice {
      color: #fff;
      background-color: $tonoMedio;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem 0.5rem 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
      p {
        margin-top: 0;
        span {
          padding-left: 0.5rem;
          font-size: 1.7rem;
        }
      }
    }
  }

  form {
    div.col-sm-12 {
      margin-bottom: 5px;
    }

    label {
      font-weight: bold;
    }

    fieldset:nth-of-type(1) .col-form-label {
      font-family: inherit;
      font-weight: bold;
      font-size: 1.2rem;
    }

    fieldset:nth-of-type(2) {
      background: linear-gradient(
        134deg,
        #212121 15%,
        #545454 50%,
        #b9b8b8 100%
      );
      padding: 1rem 1rem;
      border-radius: 1rem;
      width: 80%;
      margin: auto;

      legend {
        margin-left: 1rem;
        background-color: #b3040494;
        width: 11rem;
        color: white;
        border-radius: 0.25rem;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        justify-content: center;
      }

      label {
        font-weight: 500;
        color: white;
      }
    }
    .optional {
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      height: 10rem;
      opacity: 1;
      &.disabled {
        opacity: 0;
        height: 0;
      }
    }

    .partialPayments label {
      span {
        font-weight: bold;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
      }

      i {
        white-space: nowrap;
      }
    }

    #btnAceptaCompra {
      background-color: #b30404;

      &:hover {
        background-color: #d11212;
      }
    }
  }

  @include responsive(1300px) {
    form {
      fieldset:nth-of-type(2) {
        width: 70%;
      }
    }
  }

  @include responsive(1000px) {
    form {
      fieldset:nth-of-type(2) {
        width: 85%;
      }
    }
  }

  @include responsive(850px) {
    form {
      fieldset:nth-of-type(2) {
        width: 100%;
      }
    }
  }

  @include responsive(sm) {
    form {
      fieldset:nth-of-type(2) {
        width: 75%;
      }
    }
  }

  @include responsive(xs) {
    form {
      fieldset:nth-of-type(2) {
        label {
          font-size: 0.9rem;
        }

        input {
          font-size: 0.75rem;
        }
      }
    }
  }

  @include responsive(500px) {
    form {
      fieldset:nth-of-type(2) {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}
