@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.typicBtn {
  background-color: $rojoMarca;
  border: $rojoMarca;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  opacity: 1;
  transition: width 0.5s ease, opacity 1s ease;
  img {
    width: 1rem;
    margin-left: 1rem;
  }
  &.black {
    background-color: $tonoMuyOscuro;
    border-color: $tonoMuyOscuro;
  }
  &.grey {
    background-color: $tonoClaro;
    border-color: $tonoClaro;
    color: $rojoMarca;
  }
  &.soft {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: $tonoOscuro;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
    width: 50%;
  }
}
