@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $tonoOscuro;
  color: white;
  text-align: center;
  padding: 1.5rem 0 1rem 0;
  .info {
    width: 25%;
  }
  .social {
    width: 25%;
  }
  .newsletter {
    width: 50%;
  }

  @include responsive(md) {
    flex-wrap: wrap;
    .info {
      width: 50%;
    }
    .social {
      width: 50%;
    }
    .newsletter {
      order: -1;
      width: 100%;
    }
  }

  @include responsive(xs) {
    .info {
      width: 100%;
    }
    .social {
      width: 100%;
    }
  }
}

address {
  background-color: $tonoMuyOscuro;
  text-align: center;
  color: white;
  padding: 1.5rem 0.625rem;
  margin-bottom: 0;
}
