@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.carousel {
  img {
    object-fit: cover;
  }
  .carousel-caption {
    top: 20px;
    bottom: auto;
    left: 12%;
    right: auto;
    text-shadow: 1px 1px #545454;
  }

  @include responsive(md) {
    img {
      min-height: 35vw;
    }
    .carousel-item:nth-child(2) {
      img {
        object-position: 80%;
      }
    }
    .carousel-caption {
      display: none;
    }
  }

  @include responsive(sm) {
    .carousel-indicators {
      display: none;
    }
  }
}
