@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.itemCount {
  .btn-danger {
    background-color: $rojoMarca;
    border: $rojoMarca;
    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }

  .input-group {
    .btn,
    .btn:active {
      color: black;
      background-color: $tonoClaro;
      &:hover {
        color: white;
        background-color: $tonoMedio;
      }
    }
  }
}
