@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.itemCount {
  margin-top: 1rem;

  .input-group {
    .btn,
    .btn:active {
      color: black;
      background-color: $tonoClaro;

      &:hover {
        color: white;
        background-color: $tonoMedio;
      }
    }
  }
}
